#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  color: green;
  font-family: 'Caprasimo', cursive;
  font-size: 32pt;
}

p {
  font-family: 'Caprasimo', cursive;
}

.myInput {
  padding: 15px;
  border-radius: 12px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 340px;
  font-size: 14pt;
  text-align: center;
}

.window-container {
  margin-top: 25%;
}

